<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="праткика_коряка.Properties.Settings.afrodisiacConnectionString"
            connectionString="Data Source=510-003\SQLEXPRESS;Initial Catalog=afrodisiac;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="праткика_коряка.Properties.Settings.afrodisiacConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=afrodisiac;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>